body {
  font-family: Arial;
  padding: 20px;
  background: #cef0ce;
}

.container {
  display: flex;
  gap: 20px;
}

input, textarea {
  display: block;
  width: 100%;
  margin: 6px 0;
  padding: 8px;
}

button {
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 6px;
  border-left: 5px solid green;
}
